<div class="container border">
  <h1>Example 3.</h1>
  <button class="btn btn-warning" #mainBtn (click)="openModal()">
    Click on a button
  </button>
  <div class="p-3 text-danger absoluteP" *ngIf="showModal">
    <div class="container bg-dark w-60 h-50">
      Are you sure you want to click on this button !
      <div class="btn-group">
        <button class="btn btn-danger" (click)="hideBtn()">Yes</button>
        <button class="btn btn-warning" (click)="closeModal()">No</button>
      </div>
    </div>
  </div>
</div>
