<nav class="p-3 text-bg-secondary">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <!-- <li><a routerLink="input-output-examples" class="nav-link px-2 text-white">Input/Output Examples</a></li>
          <li><a routerLink="example4" class="nav-link px-2 text-white">Example 4</a></li>
          <li><a routerLink="exampleViewChild" class="nav-link px-2 text-white">Example ViewChild</a></li> -->
            <!-- <li *ngFor="let links of servicesSubmenuLinks"><a routerLink={{links.link}}>{{links.title}}</a></li> -->
            <li><a *ngFor="let link of servicesSubmenuLinks" routerLink={{link.link}} class="nav-link px-2 text-white">{{link.title}}</a></li>
            <!-- <li><a routerLink="services-example-one" class="nav-link px-2 text-white">Servuces Example One</a></li>
            <li><a routerLink="services-example-two" class="nav-link px-2 text-white">Servuces Example Two</a></li>
            <li><a routerLink="services-example-three" class="nav-link px-2 text-white">Servuces Example Three</a></li>
            <li><a routerLink="services-example-four" class="nav-link px-2 text-white">Servuces Example Four</a></li>
            <li><a routerLink="services-example-five" class="nav-link px-2 text-white">Servuces Example Five</a></li> -->
        </ul>
      </div>
    </div>
  </nav>
