<nav class="p-3 bg-primary">
    <div class="container">
      <div
        class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start"
      >
        <ul
          class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0"
        >
          <li>
            <a routerLink="all-books" class="nav-link px-2 text-white">All Books</a>
        </li>
        <li>
            <a routerLink="edit-book" class="nav-link px-2 text-white">Edit Book</a>
        </li>
        <li>
            <a routerLink="best-sellers" class="nav-link px-2 text-white">Best Sellers</a>
        </li>
        </ul>
      </div>
    </div>
  </nav>
  <router-outlet></router-outlet>