<nav class="p-3 bg-primary">
  <div class="container">
    <div
      class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start"
    >
      <ul
        class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0"
        *ngFor="let submenu of subMenuLinks"
      >
        <li>
          <a routerLink="{{ submenu.link }}" class="nav-link px-2 text-white">{{
            submenu.title
          }}</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
